@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --fontFamily: "Nunito", sans-serif;
  --BgColor: linear-gradient(
    to bottom,
    #051937,
    #001641,
    #001249,
    #000c50,
    #0f0055
  );
  --whiteColor: #ffffff;
  --darkRed: #29000c;
  --lightBlue: #4864ff;
  --green: rgb(1, 201, 1);
  --border: 1px solid var(--green);
  --lightGrey: rgb(179, 178, 178);
  --boxShadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: var(--fontFamily);
  width: 100%;
  background-image: var(--BgColor);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h5,
h4,
h6 {
  color: var(--whiteColor);
}

::selection {
  background-color: var(--lightBlue);
  color: var(--darkRed);
}

::placeholder {
  color: rgb(196, 196, 196);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.heading {
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1.5px solid #d1d1d17a;
}

.heading__text {
  font-size: 2.55rem;
}

.main {
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 2rem;
}

.sections {
  width: 100%;
}

.section__heading--text {
  font-size: 1.75rem;
  font-weight: 600;
}

.todoform {
  margin-top: 8.5rem;
}

.formbox {
  padding-left: 1rem;
  width: 80%;
}

.input {
  width: 100%;
  font-family: inherit;
  font-size: 1.05rem;
  padding: 0.45rem 0.25rem;
  border: 1px solid var(--lightGrey);
  border-radius: 0.2rem;
  outline: none;
  background-color: transparent;
  color: var(--whiteColor);
}

.indexthing {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 1rem 0;
}

.submit__btn {
  border: 1px solid var(--lightGrey);
  width: 100%;
  font-family: inherit;
  font-size: 1.05rem;
  font-weight: 600;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
  cursor: pointer;
  border-radius: 0.3rem;
  outline: none;
  position: relative;
  z-index: 1;
  background-color: transparent;
  color: var(--whiteColor);
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.35s ease-in-out;
}

.submit__btn:hover {
  color: var(--darkRed);
}

.submit__btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background-color: var(--whiteColor);
  border-radius: 0.3rem;
  transition: width 0.35s ease-in-out;
}

.submit__btn:hover::after {
  width: 100%;
}

.todobox {
  margin-top: 2rem;
  padding-left: 1rem;
}

.todos {
  width: 80%;
}

.todo {
  border-radius: 0.25rem;
  padding: 0.75rem 0.55rem;
  box-shadow: var(--boxShadow);
  background-color: transparent;
  border: 1px solid var(--lightGrey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.todo__type {
  padding: 0 0 0.5rem 0.5rem;
}

.todo__type h5 {
  font-size: 0.9rem;
  color: #baffff9c;
}

.todo__name {
  width: 70%;
  color: var(--whiteColor);
  font-size: 1.05rem;
}

.todo__icons {
  font-size: 1.1rem;
  color: var(--whiteColor);
  cursor: pointer;
}

input[type="radio"] {
  -webkit-appearance: none;
}

input[type="radio"]:checked + label .complete,
.complete:hover,
.complete[data-isCompleted="true"] {
  color: #3bfc00;
}

input[type="radio"]:checked + label .cancel,
.cancel:hover,
.cancel[data-isCanceled="true"] {
  color: #fbff00;
}

.todo__delete--icon:hover {
  color: #ff3c00;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(1, 63, 92);
  opacity: 0.7;
  display: grid;
  place-content: center;
  visibility: hidden;
}

.load {
  border: 5px solid transparent;
  border-top-color: var(--whiteColor);
  border-bottom-color: var(--whiteColor);
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: loader 2s ease infinite;
}

.alertbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  background-image: var(--BgColor);
  z-index: 10;
  padding: 1rem;
  visibility: hidden;
}

.alert {
  padding: 5rem 10rem;
  border-radius: 0.35rem;
  border-color: 1.5px solid var(--lightGrey);
  background-color: var(--whiteColor);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: var(--boxShadow);
}

.alert__message {
  color: var(--darkRed);
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.alert__confirm {
  padding: 0.55rem 2rem;
  border-radius: 0.3rem;
  background-color: var(--lightBlue);
  border: none;
  outline: none;
  color: white;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}

@keyframes loader {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

@media (max-width: 1150px) {
  .todos {
    width: 90%;
  }
}

@media (max-width: 780px) {
  .main {
    flex-direction: column;
  }

  .todoform {
    margin-top: 2rem;
  }

  .formbox,
  .todos {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .heading__text {
    font-size: 2.25rem;
  }

  .main {
    padding: 1rem;
  }

  .section__heading--text {
    font-size: 1.25rem;
  }

  .todoform {
    margin-top: 2rem;
  }

  .formbox,
  .todos {
    width: 100%;
    padding-left: 0.35rem;
  }
}
